.container-font-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25rem;
    background-image: url('./font-page/manuel.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.container-profile {
    display: flex;
    position: relative;
    top: 20%;
    left: 38%;
}

.container-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.title {
    font-size: 4rem;
}
.sub-title {
    color: rgb(209, 209, 209);
}

.container-social-networks {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 15%;
    left: 45%;
}
